<div>
  <md-toolbar color="primary" class="removeMargin">
    <span>Todo App With Firebase and Material Design</span>
  </md-toolbar>

  <md-card class="mainDiv" *ngIf="showFormData">
    <md-card-title>
      Todo
    </md-card-title>
    <md-card-content>
      <div layout="column" class="md-inline-form">
        <form (ngSubmit)="writeUserData()">
          <md-input class="demo-full-width" placeholder="Added Date (Disabled)" disabled value="{{currentDate | date}}">
          </md-input>
          <md-input placeholder="Title" style="width: 100%" [(ngModel)]="model.title" name="title"></md-input>
          <md-input placeholder="Details" style="width: 100%" [(ngModel)]="model.details" name="details"></md-input>
          <p>Priority:</p>
          <md-radio-group [(ngModel)]="model.priority" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="model.priority" name="priority">
            <md-radio-button value="High" class="md-primary"> High</md-radio-button>
            <md-radio-button value="Medium" checked="true" class="md-primary"> Medium</md-radio-button>
            <md-radio-button value="Low" class="md-primary"> Low</md-radio-button>
          </md-radio-group>
          <div class="moveButtonsToCenter">
            <button md-raised-button class="md-raised md-primary" type="submit">Save</button>
            <button md-raised-button class="md-raised md-accent" type="button" (click)="showForm()">Cancel</button>
          </div>
        </form>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="todoCardMargin" *ngIf="!showFormData || items.length">
    <md-card-title>
      List of Todos
    </md-card-title>
    <table>
      <tr>
        <th></th>
        <th class="todoTitleWidth">Title</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of items | async; let ind = index">
        <td>{{ind+1}}.</td>
        <td>{{item.title}}</td>
        <td>
          <button md-raised-button color="primary" md-line (click)="updateData(item)" class="normalSizeButton">Update
          </button>
        </td>
      </tr>
    </table>
  </md-card>
  <button md-fab class="customButtonPosition" color="primary" (click)="showForm()">
    <md-icon class="md-24">add</md-icon>
  </button>
</div>
